@import "includes.scss";

.calculator {
  @include animate-scene();
  .money {
    font-weight: bold;
    color:#65a637;
  }
  .main-info {
    p {
      padding-bottom:15px;
      font-size:18px;
    }
  }
  .splunk-btn {
    margin-top:15px;
  }
}
